### 3- Manipulação de dados

In [1]:
# importando a biblioteca pandas
import pandas as pd

In [2]:
# lendo arquivo HTML
df = pd.read_html('https://gist.github.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6')[0]

In [3]:
df

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,NaN,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,NaN,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,NaN,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,NaN,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,NaN,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,NaN,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,NaN,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,NaN,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,NaN,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,NaN,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
# renomeando colunas
df.rename(columns={'Attack': 'Ataque'}, inplace=True)

# removendo colunas
df.drop(columns=['Unnamed: 0', '#'], inplace=True)

In [5]:
df

,Name,Type 1,Type 2,Total,HP,Ataque,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [21]:
# agrupando dados
df.groupby('Type 1')['Ataque'].mean()

Type 1
Bug          70.971014
Dark         88.387097
Dragon      112.125000
Electric     69.090909
Fairy        61.529412
Fighting     96.777778
Fire         84.769231
Flying       78.750000
Ghost        73.781250
Grass        73.214286
Ground       95.750000
Ice          72.750000
Normal       73.469388
Poison       74.678571
Psychic      71.456140
Rock         92.863636
Steel        92.703704
Water        74.151786
Name: Ataque, dtype: float64

In [20]:
# agregando dados
df.groupby('Type 1').aggregate({'Ataque': 'mean', 'Defense': 'median', 'Speed': 'max'})

              Ataque  Defense  Speed
Type 1
Bug        70.971014     60.0    160
Dark       88.387097     70.0    125
Dragon    112.125000     90.0    120
Electric   69.090909     65.0    140
Fairy      61.529412     66.0     99
Fighting   96.777778     70.0    118
Fire       84.769231     64.0    126
Flying     78.750000     75.0    123
Ghost      73.781250     72.5    130
Grass      73.214286     66.0    145
Ground     95.750000     84.5    120
Ice        72.750000     75.0    110
Normal     73.469388     60.0    135
Poison     74.678571     67.0    130
Psychic    71.456140     65.0    180
Rock       92.863636    100.0    150
Steel      92.703704    120.0    110
Water      74.151786     70.0    122